---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      <div>
        <span class="enumeration">#{{ forloop.index }}. </span> <!-- Enumerate here -->
        {% include archive-single.html %}
      </div>
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <div>
      <span class="enumeration">#{{ forloop.index }}. </span> <!-- Enumerate here -->
      {% include archive-single.html %}
    </div>
  {% endfor %}
{% endif %}
