.container {
    width:100%;
    border:1px solid #626567;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#626567;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 1.5px;
}
